// === Colors ===
$color-primary: #2F464F;
$color-primary-hover: rgb(43, 60, 67);
$color-success: #3D6600;
$color-danger: #ab1700;
$color-danger-hover: #871200;
$background-color: #efefef;
$form-background-color: #d9d9d9;

// === Buttons ===
$color-primary-btn: #3c8398;
$color-primary-btn-hover: #1f4753;
$color-secondary-btn: rgb(197, 197, 197);
$color-secondary-btn-hover: rgb(171, 171, 171);
$color-success-btn: #37762f;
$color-success-btn-hover: rgb(36, 67, 25);