@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: variables.$background-color;
  height: 100%;
}

.content-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.a-link {
  color: variables.$color-primary;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  cursor: pointer;
  padding: 0.6rem 0.9rem;
  background-color: variables.$color-secondary-btn;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: variables.$color-secondary-btn-hover;
}

.btn-primary {
  color: #eee;
  background-color: variables.$color-primary-btn;
}

.btn-primary:hover {
  background-color: variables.$color-primary-btn-hover;
}

.animated {
  transition: all .2s ease-in-out;
}


.block { display: block; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 1.2rem; }
.mt-3 { margin-top: 1.4rem; }
.color-primary { color: variables.$color-primary; }
.color-danger { color: variables.$color-danger; }
.text-bold { font-weight: bold; }