@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: variables.$background-color;
  height: 100%;
}

.content-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.actions-container {
  div {
    margin-left: .2rem;
  }
}

.chart {
  width: 46%;
}

.animated {
  transition: all .2s ease-in-out;
}