@use "./variables";

.question-edit-box {
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    border-bottom: 2px solid #aaa;
    box-shadow: 1px 1px 1px #aaa;
    margin-top: 1rem;

    .question-edit-tile {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;


        .question-edit-content {
            display: flex;
            flex: 1;
            flex-direction: column;

            .text-field {
                margin-bottom: 0.7rem;
            }

            .radio-field {
                margin-right: 1.5rem;
            }
        }

        .question-edit-icon {
            display: inline-flex;
            padding: 0 1rem;
            font-size: 1.4rem;
            color: variables.$color-primary;
        }
    }
}