@use "./variables";

.question-edit-box {
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    border-bottom: 2px solid #aaa;
    box-shadow: 1px 1px 1px #aaa;
    margin-top: 1rem;

    .question-edit-tile {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;


        .question-edit-content {
            display: flex;
            flex: 1;
            flex-direction: column;

            .text-field {
                margin-bottom: 0.7rem;
            }

            .radio-field {
                margin-right: 1.5rem;
            }
        }

        .question-edit-icon {
            // display: inline-flex;
            padding: 0 1rem;
            font-weight: bold;
            font-size: 1.4rem;
            color: variables.$color-primary;
        }

        .question-edit-delete {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            cursor: pointer;
            padding: 0 0.5rem;
            font-size: 1.3rem;
            color: variables.$color-danger;
            font-weight: bold;
        }

        .question-edit-answer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .form-control {
                flex-grow: 1;
                padding: 0;
            }
        }

        .question-edit-answers {
            display: flex;
            flex-direction: column;
            // width: 50%;

            input[type=text] {
                width: 80%;
            }
        }
    }
}